/*    Base Styles   */
* {
  box-sizing: border-box;
}
head {
  margin: 0 -30px 0 0;
}
main {
  margin-top: 0;
}
h1{
  font-family: 'Caveat', cursive;
  font-size: 3em;
  padding-left: 2.5px;
}
h2 {
	margin: 70px 0 70px 0;
	font-size: 2.5rem;
  text-align: center;
	font-family: copperplate;
  color: #26004d;
}
h3 {
	font-size: 2rem;
	font-family: copperplate;
	margin-top: 2em;
}
ul {
  list-style-type: none;
	padding-left: 0px;
  font-size: 1.25em;
}
li {
  padding: 2.5px 7.5px 1.5px 5px;
}
p {
	padding: 1rem 2rem 1.5rem 1.5rem;
	font-family: 'Ravi Prakash', cursive;
	font-size: 1.2em;
}
aside {
  width: 100%;
}

/*   Class Selectors   */
.img {
  width: 95%;
  height: auto;
}
.img-skills {
  width: 95%;
  height: auto;
}
.main-profile-pic {
  max-width: 280px;
  overflow: auto;
}
.main-nav {
  list-style-type: none;
	margin-top: 4px;
}
.items {
	display: block;
  font-family: copperplate;
	text-align: center;
	background-color: papayawhip;
  border: 1px solid #e2e2e2;
  padding: 10px 0 10px 0;
}
.container {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-right: auto;
}
.item1 {
  margin-right: auto;
}
.item2 {
  list-style-type: none;
}
.skills-list {
  padding-top: 20px;
  list-style-type: none;
  font-family: 'Ravi Prakash', cursive;
}
.main-header ,
div ,
section ,
aside {
  display: inline-block;
	text-align: center
}
.main-header ,
.main-footer {
	background-color: #f2f2f2;
  width: 100%;
}
.footer-nav {
  display: none;
}
.footer-h3 {
  display: none;
}

/* ID Selectors */
#contact {
  margin-top: -30px;
  text-align: center;
  width: inherit;
}
#skills {
  padding-bottom: 25px;
  align-items: center;
  width: 100%;
  text-align: center;
}

/* Media Queries */

@media screen and (min-width: 768px) {

  /*    Base Styles   */
  .skills-list li , .main-nav li {
    width: 200px;
    height: auto;
    overflow: auto;
    color: purple;
  }
  aside {
    display: none;
  }

/*   Class Selectors   */
  .main-header {
    text-align: center;
  }
  .main-nav , ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
  }
  .items {
    border: inherit;
    background-color: inherit;
  }
  .main-profile-pic {
    float: right;
    margin-left: 1.5rem;
  }
  .intro {
    margin: 10px 5px 15px 5px;
  }
  .img {
    width: 70%;
  }
  .img-skills {
    width: 50%;
  }
  .flex-wrapper {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
  }
  .container {
  margin-right: auto;
  width: inherit;
  }
  .flex-wrapper section {
    flex-basis: 50%
  }
  .skills-list li {
    overflow: hidden;
    width: auto;
  }

/* ID Selectors */
  #skills {
    margin-top: 2em;
    text-align: center;
    color: #f00;
  }
  #contact li {
    width: 100%;
  }
  /* Hidden Footer Nav */
    .footer-nav , .headerflex2 , .footer-h3 {
      display: flex;
      justify-content: center;
      margin-top: -5px;
    }
    .footer-h3 {
      font-family: 'Caveat', cursive;
      font-size: 2em;
      padding-left: 25px;
      margin: 0 auto 0 10px;
    }

}
@media screen and (min-width: 1024px) {

/*    Base Styles   */
  .skills-list li , .main-nav li {
    width: 120px;
    height: auto;
    overflow: auto;
    color: purple;
  }
  .flex-wrapper , div {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .img {
    width: 40%
  }
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: auto;
    flex-wrap: wrap;
    padding: 10px 15px;
   }
   .headerflex2 {
     order: 2;
   }
   .headerflex1 {
    order: 1;
    margin-right: auto;
    margin-top:
   }
  .intro {
    order: 3;
  }
  .items {
    border: inherit;
    background-color: inherit;
  }
  .main-profile-pic {
    float: right;
    width: 40%;
    order: 4;
  }
  .img {
    width: 70%;
  }
  .img-skills {
    width: 40%;
  }
  .container {
    display: none;
  }
  .flex-wrapper section {
    flex-basis: 33%;
  }
  .skills-list li {
    overflow: hidden;
    width: auto;
  }

/* ID Selectors */
  #skills {
    margin-top: 2em;
    text-align: center;
    color: #f00;
  }
  #contact p {
    padding: 10px 350px 0 350px;
  }
  #contact ul {
    display: inline-block;
  }
  #contact li {
    width: 100%;
  }

/* Hidden Footer Nav */
  .footer-nav , .headerflex2 , .footer-h3 {
    display: flex;
    margin-top: -5px;
  }
  .footer-h3 {
    font-family: 'Caveat', cursive;
    font-size: 2em;
    padding-left: 25px;
    margin: 0 auto 0 10px;
  }
}
